{% extends 'base.html.twig' %}

{% block title %}Edit Comment{% endblock %}

{% block body %}
    <div class="comment-edition-bloc">
        <h1>Edit Comment</h1>

        {{ include('comment/_form.html.twig', {'button_label': 'Update'}) }}

        {{ include('comment/_delete_form.html.twig') }}
    </div>
{% endblock %}
