*, ::before, ::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-header{
  border-bottom: #343A40 1px solid;
  position: sticky;
  top: 0px;
  background-color: #FFFfff;
  z-index: 1;
}

.alert{
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
  color: red;
}

a:hover, button:hover{
  text-decoration: underline !important;
  text-underline-offset: 5px;
  filter: contrast(200%);
}

h2{
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: underline;
}

h3{
  font-size: 2rem;
  font-weight: bold;
  text-decoration: underline;
}

th{
  background-color: #343A40 !important;
  color: #FFF;
}

/* LOGIN SCREEN */

.login-form{
  margin: 5%;
  max-width: 500px;
}

.signIn-group{
  margin: 5%;
  align-items: flex-end;
}

.signIn-btn{
  margin-right: 5%;
}

/* ACCOUNT SCREEN */

.user-welcome{
  margin: 5%;
}

.user-welcome p{
  font-style: italic;
}

.user-welcome .btn{
  margin: 5px 0;
}

.table-header{
  margin: 0 50px 20px;
  justify-content: space-between;
}

tr:nth-child(even) {background: #e4e4e4}
tr:nth-child(odd) {background: #FFF}

/* EDIT SCREENS */

.edition-bloc, .comment-edition-bloc {
  margin: 5%;
  max-width: 500px;
}

.edition-bloc h1, .comment-edition-bloc h1{
  font-size: 2rem;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 25px;
}

.edition-bloc button, .comment-edition-bloc button{
  margin: 10px 0;
}

.edition-bloc > form > div {
  width: 100%;
}

.edition-bloc label{
  border: #343A40 solid 2px;
  border-radius: 5px 0 0 5px;
  background-color: #343A40;
  color: white;
  width: 30%;
  text-align: center;
}

.edition-bloc input {
  width: 70%;
  border-radius: 0 5px 5px 0;
}

.comment-edition-bloc > form > div {
  width: 100%;
  /* display: flex; */
}

.new-article{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.new-article label{
  border: #343A40 solid 2px;
  border-radius: 5px 0 0 5px;
  background-color: #343A40;
  color: white;
  padding: 0 5px;
}

.new-article button{
  margin-top: 10px;
}

.comment-edition-bloc label, #article :nth-child(3) label, .comment-post label {
  border: #343A40 solid 2px;
  border-radius: 5px 5px 0 0;
  background-color: #343A40;
  color: white;
  width: 100%;
  text-align: center;
  margin: 0;
}

.comment-edition-bloc textarea, #article :nth-child(3) textarea, .comment-post textarea{
  width: 100%;
  margin-bottom: 10px;
}

#article :nth-child(4){
  display: flex;
  align-items: center;
}

#article :nth-child(4) input{
  width: 28px;
  height: 28px;
  margin-left: 10px;
}

#article :nth-child(4) label{
  margin: 0;
}

.comment-form{
  max-width: 500px;
  margin: 20px;
}

.comments-container ul{
  list-style: none;
}

.bloc-comment {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: #343A40 dotted 3px;
}

.comment-content {
  padding-left: 25px;
  margin: 25px 0;
}

.user-profile{
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.user-picture{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 10px;
  background-image: url(https://www.pngfind.com/pngs/m/610-6104451_image-placeholder-png-user-profile-placeholder-image-png.png);
  background-position: center;
  background-size: cover;
}

.user-picture img {
  border-radius: 50%;
}

/* ARTICLE PAGE */

.article-content{
  margin: 20px 0;
  white-space: pre-wrap;
}

@media (max-width: 991px) {
  .nav-link{
    margin: 10px;
  }
}

.pagination{
  text-align: right;
  margin: 50px;
}

.pagination  span{
  margin: 5px;
}

.pagination span a{
  padding: 5px 10px;
  border-radius: 20px;
  border: solid 2px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  color: #222222;
}

.pagination span a:hover{
  color: #ffffff;
  background-color: #005CC8;
}
.pagination .current{
  text-decoration: underline;
  text-underline-offset: 5px;
  color: #005CC8;
  font-weight: bold;
}